.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  color: hsla(218, 81%, 95%, 0.8);
  display: flex;
  gap: 60px;
}

.content h3 {
  font-size: 3rem;
  font-weight: 700;
}

.landingTexts {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: justify;
}

.landingSideHeading {
  font-size: 1.2rem;
}

.landingButton {
  width: fit-content;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  color: hsla(218, 81%, 95%, 0.8);
  border: 2px solid hsla(218, 81%, 95%, 0.8);
  background-color: hsl(218, 41%, 15%);
}

.landingButton:hover {
  color: hsl(218, 41%, 15%);
  background-color: hsla(218, 81%, 95%, 0.8);
}

.doctorImage {
  margin-bottom: 40px;
  width: 35rem;
  height: 35rem;
}

.catchyText {
  margin-top: 70px;
  font-size: 1.1rem;
  text-align: justify;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .landingTexts {
    margin-top: 0;
    text-align: center;
  }

  .landingButton {
    margin-top: 20px;
  }

  .doctorImage {
    margin-bottom: 20px;
    width: 20rem;
    height: 20rem;
  }

  .catchyText {
    margin-top: 40px;
    font-size: 1rem;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 16px;
  }
}
