.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  text-align: center;
  margin-top: 150px;
  margin-left: 350px;
}

.page-heading {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.card {
  background: linear-gradient(to right, #3a6186, #89253e) !important;
  backdrop-filter: saturate(200%) blur(25px);
  height: 350px;
  width: 400px;
  margin: 20px;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.card-text {
  margin-bottom: 5px;
  color: #ccc;
}

.card-4 {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 0;
}

.change-status-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.change-status-btn:hover {
  background-color: #45a049;
}